<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Panggon Dahar sebuah wadah informasi tempat tempat yang dapat menuntaskan rasa lapar">
  <meta name="creator" content="Indah Andriani">
  <meta name="theme-color" content="#EB6440"/>
  
  <title>Panggon Dahar</title>
  <link rel="icon" href="./images/logo/titleicon.ico" type="image/x-icon">
  <link rel="manifest" href="./webmanifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
    />
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <!-- Skip To Content Here -->
  <a href="#main" class="skip-link">Skip to Content ?</a>

  <!-- Bagian Header  -->
  <header class="header-hero">
    <!-- navbar -->
    <nav-bar></nav-bar>
    

    <!-- hero element -->
    <hero-bar></hero-bar>
    
  </header>

  <!-- Bagian Main -->
  <main id="main" tabindex="0"></main>

  <!-- Bagian Footer -->
  <footer>
    <footer-bar></footer-bar>
  </footer>
 
</body>
</html>
